.footer__column-link {
  margin: 0;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  list-style: none;
  transition: 2s;
  color: white;
}

.footer__column-link:hover {
  opacity: 0.5;
}
