.feynman__link {
  z-index: 2;
  top: 50%;
  right: 48px;
  position: absolute;
  margin-right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  color: #2f80ed;
  transition: 2s;
  text-decoration: none;
}
.feynman__link:hover {
  opacity: 0.5;
}
