.feynman {
    width: 100%;
    min-height: 890px;
    background-color: #f2f2f2;
    display: flex;
    padding-top: 100px;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    z-index: 0;
  }